<div class="tweet_wrapper">
  <div class="tweet_author_wrapper">
    <div class="tweet_author_image">
      {% set avatar_src = None %}
      {% if tweet.avatar %}
        {% if tweet.avatar.filename %}
          {% set avatar_src = base_path ~ 'media/' ~ tweet.avatar.filename %}
        {% elif tweet.avatar.media_url %}
          {% set avatar_src = tweet.avatar.media_url %}
        {% endif %}
      {% endif %}
      {% if avatar_src %}
      <img src="{{ avatar_src }}" />
      {% endif %}
    </div>
    <div class="author_context">
      <div class="tweet_author_handle">
        <a href="https://www.twitter.com/{{ tweet.user_name }}/" target="_blank">@{{ tweet.user_name }}</a>
      </div>
      <div class="tweet_author_name">{{ tweet.user_nick }}</div>
    </div>
  </div>
  <div class="tweet_content">
    <span>
      {%- if tweet.tweet_content %}
      {{- tweet.tweet_content -}}
      {% else %}
      {{- tweet.tombstone -}}
      {% endif -%}
    </span>
  </div>
  {% if tweet.tweet_media %}
  <div class="tweet_images_wrapper">
    {% for m in tweet.tweet_media %}
    {% set media_src = None %}
    {% if m.filename %}
      {% set media_src = base_path ~ 'media/' ~ m.filename %}
    {% elif m.media_url %}
      {% set media_src = m.media_url %}
    {% endif %}
    {% if media_src %}
    {% set media_type = m.type | default('photo') %}
    <div class="tweet_image">
      {% if media_type == 'photo' %}
      <a href="{{ media_src }}">
        <img src="{{ media_src }}"/>
      </a>
      {% else %}
      <video controls>
        <source src="{{ media_src }}">
      </video>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% set quoted_tweet = tweet.quoted_tweet or tweet.retweeted_tweet %}
  {% if quoted_tweet %}
  <div class="quoted_status">
    {% with tweet=quoted_tweet %}
      {% include "_tweet_card.html" %}
    {% endwith %}
  </div>
  {% endif %}
  <div class="tweet_created_at">{{ tweet.tweet_created_at }}</div>
  <div class="twitter_link">
    <a href="https://www.twitter.com/{{ tweet.user_name }}/status/{{ tweet.tweet_id }}/" target="_blank">Original tweet &#8599;</a>
  </div>
</div>
