a {
  color: inherit;
  text-decoration: none;
}

img, video {
  object-fit: contain;
}

body {
  background-color: #eee;
  padding: 20px;
  font-family: Helvetica;
}

.tweet_list {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.tweet_wrapper {
  width: 95%;
  display: inline-block;
  padding: 10px 2% 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #fff;
}

.tweet_wrapper>div {
  margin-top: 5px;
}

.tweet_author_wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  min-height: 48px;
}

.tweet_author_image {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.author_context {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.tweet_author_handle {
  display: inline-block;
  font-size: 0.8em;
  color: #95a5a6;
  width: 100%;
}

.tweet_author_name {
  font-weight: bold;
  font-size: 0.9em;
  width: 100%;
}

.tweet_content {
  width: 100%;
  display: inline-block;
  font-size: 1.0em;
}

.tweet_content>span {
  white-space: pre-wrap
}

.tweet_created_at {
  width: 100%;
  display: inline-block;
  font-size: 0.9em;
  color: #95a5a6;
}

.twitter_link {
  width: 100%;
  display: inline-block;
  font-size: 0.9em;
  color: #3498db;
}

.tweet_images_wrapper {
  width: 100%;
  display: inline-block;
}

.tweet_images_wrapper .tweet_image {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 5px;
  overflow: hidden;
  max-width: 48%;
}

.tweet_image img, .tweet_image video {
  max-height: 300px;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* pagination */
.pagination {
  margin: 5px 0;
  text-align: center;
  color: #3498db;
}

.pagination>* {
  margin-right: 6px;
}

.pagination .current {
  font-weight: bold;
  color: #333;
}

.pagination .ctrl {
  display: inline-block;
  width: 50px;
  font-weight: bold;
}
